/* стили временного меню, можно убрать при натяжке */
.test-menu {
	background: #cfcfcf;
	font-size: 12px;
	color: #000;
	position: fixed;
	top: 20%;
	right: 0;
	z-index: 9999;
	border-radius: 5px 0 0 5px;
	padding: 5px;
}
.test-menu a {
	display: block;
	color: #000;
}



@font-face {
	font-family: 'Garamond Regular';
	src: url('../fonts/Garamond.eot');
	src: url('../fonts/Garamond.eot') format('embedded-opentype'),
	url('../fonts/Garamond.woff2') format('woff2'),
	url('../fonts/Garamond.woff') format('woff'),
	url('../fonts/Garamond.ttf') format('truetype'),
	url('../fonts/Garamond.svg#GaramondRegular') format('svg');
} 
html,body {
	/*font-family: 'Garamond Regular';*/
}
.no-margin-top {
	margin-top: 0!important;
}
.clear {
	display: block;
	clear: both;
}
.owl-next::after {
	content: '';
	display: block;
	width: 12px;
	height: 25px;
	background: url(../images/arrows-grey-min.png) 100% 0;
}
.owl-prev::after {
	content: '';
	display: block;
	width: 12px;
	height: 25px;
	background: url(../images/arrows-grey-min.png) 0% 0;
}
.border_bottom {
    border-bottom: 1px solid #8f8f8f;
}
.content .breadcrumbs {
	color: #969596;
	font-size: 11px;
	padding: 15px 0;
}
.content .breadcrumbs a {
	color: #969596;
	font-size: 11px;
}
.content h1 {
	font-size:18px;
	text-transform: uppercase;
	font-family: 'Garamond Regular';
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	position: relative;
}
.content h1 i.glyphicon {
	margin-right: 5px;
	color: #0a949f;
}
.content h2, .content h3, .content h4  {
	text-transform: uppercase;
	color: #08959f;
	font-size: 12px;
	margin: 0;
	padding: 0;
	margin: 10px 0;
}
.content {
	color: #787878;
	font-size: 12px;
}
.content .title_line {
	color: #fff;
	text-transform: uppercase;
	background: #08959f;
	padding: 3px;
	margin: 10px 0;
}
.content .gray_box {
	background: #f4f4f4;
	margin: 50px 0;
	padding: 30px;
	padding-left:0;
	font-size: 14px;
	font-family: 'Garamond Regular';
	position: relative;
}
.content .gray_box::before{
	content: '';
	display: block;
	background: #f4f4f4;
	width: 100%;
	height: 100%;
	top: 0;
	left: -170px;
	position: absolute;
	z-index: -1;
}
.content .gray_box_img {
	position: relative;
}
.content .graybg {
	position: relative;
}
.content .graybg::before {
	content: '';
	display: block;
	position: absolute;
	top:10px;
	bottom: 10px;
	background: #f4f4f4;
	left: 0;
	right: 0;
}
.content .gray_box_img::before{
	content: '';
	display: block;
	background: #f4f4f4;
	width: 100%;
	width: calc( 100% + 170px);
	height: 125px;
	top: 0;
	left: -170px;
	position: absolute;
	z-index: -1;
	margin-top: 60px;
}
.content .gray_box .title {
	color: #08959f;
	margin-top: -10px;
	margin-bottom: 10px;
	font-size: 18px;
}
.content .gray_box .title:first-letter {
	background: #08959f;
	color: #fff;
	font-size: 22px;
	padding: 10px 3px 0px 3px;
	margin-right: 3px;
}
.content .left_menu {
	color: #787878;
	font-size: 11px;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	margin-top: 33px;
}
.content .left_menu a {
	color: #787878;
	font-size: 11px;	
	display: block;
	text-decoration: underline;
}
.content .left_menu li {
	padding: 3px;
	margin-bottom: 10px;
}
.content .left_menu li:hover, .content .left_menu li.act {
	background: #08959f;
	color: #fff;
}
.content .left_menu li:hover a,  .content .left_menu li.act a {
	color: #fff;
	text-decoration: none;	
}
.header_line {
	background: #0a94a0;
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	color: #fff;
	box-shadow: 0 0 5px #0a94a0;
	border-radius: 2px;
	font-family: Arial;	
}
.header_line a {
	color: #fff;
}
.header_line ul.header_line_menu {
	text-transform: uppercase;
	text-align: right;
	margin: 0;
}
.header {
	height: 65px;
	font-family: Arial;	
}	
.header a.logo {
	display: inline-block;
	line-height: 65px;
	font-size: 44px;
	height: 65px;
	text-decoration: none;
	color: #000;
	font-family: 'Garamond Regular';
}
.header .phone {
	font-size: 28px;
	color: #0a94a0;
	margin-top: 5px;
}
.header .phone span {
	font-size: 16px;
}
.header .work_time {
	color: #0a94a0;
	font-size: 10px;
	text-transform: uppercase;
}
.header .btn_callback {
	font-size: 10px;
	text-transform: uppercase;
	color: #0a94a0;
}
.header .enter_personal {
	margin-top: 8px;
}
.header .enter_personal a {
	font-size: 12px;
	color: #0a94a0;
	text-transform: uppercase;
	line-height: 16px;
}
.top_menu {
	height: 25px;
	border-bottom: 1px solid #8f8f8f;
	text-align: center;
	line-height: 25px;
	position: relative;
	font-family: Arial;	
}
.top_menu a {
	color: #636363;
	height: 25px;
	line-height: 25px;
	text-transform: uppercase;
	font-size: 13px;
}
.top_menu .search {
	position: absolute;
	top: 0;
	right: 0;
	background: #f5f5f5;
	color: #666666;
	height: 20px;
	box-shadow: 0 0 2px #f5f5f5;
	border-radius: 1px;
}
.top_menu .search input {
	border: 0;
	outline: 0;
	background: none;
	height: 20px;
	line-height: 20px;
	margin: 0;
	float: left;
	padding: 0 5px;
	width: 100px;
	font-size: 14px;
}
.top_menu .search .btn-search {
	height: 20px;
	width: 20px;
	padding: 0;
	background: url(../images/search-btn.png) no-repeat 50% 50%;
}
.top_line_menu {
	margin-bottom: 0;
}
.popap_top_line_menu {
	position: absolute;
	background:#fff;
	border-bottom: 1px solid #8f8f8f;
	width: 100%;
	z-index: 998;
	left:0;
	padding: 20px 25px 0px 25px;	
	margin-top: -1px;
	text-align: left;
	display: none;
}
.top_line_menu li:hover .popap_top_line_menu {
	opacity: 1;
	display: block;
}
.popap_top_line_menu .item::after {
	content: '';
	display: block;
	clear: both;
}
.popap_top_line_menu .item .t {
	font-size: 23px;
	font-family: 'Garamond Regular';
	text-transform: uppercase;
}
.popap_top_line_menu .item a {
	color: #828282;
}
.popap_top_line_menu .item a:hover {
	color: #0a94a0;
}
.popap_top_line_menu .item .category_select {
	padding: 10px 0;
	font-size: 16px;
	border-bottom: 1px solid #8f8f8f;
}
.popap_top_line_menu .item .category_select span {
	font-size: 14px;
	font-style: Italic;
}
.popap_top_line_menu .item .dop_menu {
	font-size: 16px;
	line-height: 24px;
	padding: 20px 0;
	position: relative;
}
.popap_top_line_menu .item .dop_menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 50%;
}
.popap_top_line_menu .item .dop_menu ul ul {
	position: absolute;
	top: 20px;
	width: 49%;
	bottom: 20px;
	left: 50%;
	border-left: 1px solid #8f8f8f;
	padding: 0 20px;
	display: none;
}
.popap_top_line_menu .item .dop_menu ul li:hover ul {
	display: block;
}
.popap_top_line_menu .item .dop_menu a {
	text-transform: none;
}
.popap_top_line_menu .item .img {
	width: 100%;
	position: absolute;
	top:20px;
	bottom: 20px;
	right: 0;
	background-size: cover;
	border: 2px;
}
.popap_top_line_menu .item .img-box {
	height: 100%;
	position: absolute;
	top:0;
	right: 0;
	padding: 20px 0;	
}
.owl-carousel-first .owl-controls {
	display: none;
}
.b1 {
	background: #f3f3f3 url(../images/i1.png) no-repeat;
	background-position: 120px 180px;
	box-shadow: 0 0 5px #f3f3f3;
	height: 650px;
	text-transform: uppercase;
	position: relative;
	font-family: 'Garamond Regular';
	border-radius: 2px;
}
.b1 .l1 {
	font-size: 40px;
	color: #0a94a0;
	position: absolute;
	top: 115px;
	left: 70px;
}
.b1 .l2 {
	font-size: 140px;
	color: #000;
	position: absolute;
	top: 145px;
	left: 70px;
}
.b1 .l3 {
	font-size: 40px;
	color: #000;
	position: absolute;
	top: 320px;
    left: 700px;
}
.b1 .l4 {
	font-size: 23px;
	color: #000;
	text-align: center;
	position: absolute;
	bottom: 70px;
	width: 100%;
}
.b2 {
	
}
.b2-1 {
	height: 480px;
	background: #292929;
	background-image: url(../images/b2-1.jpg);
	background-repeat: no-repeat;
	background-position: 30px 100%;
	margin-top: 10px;
	margin-right: 10px;
	box-shadow: 0 0 5px #292929;
	border-radius: 2px;
	position: relative;
}
.b2-1 .l1 {
	background: url(../images/b2-1-1.png) no-repeat;
	width: 222px;
	height: 52px;
	position: absolute;
	top: 30px;
	right: 30px;
}
.b2-1 .l2 {
	position: absolute;
	bottom: 90px;
	right: 30px;
	font-size: 14px;
	color: #878787;
	text-transform: uppercase;
}
.b2-1 .l3 {
	position: absolute;
	bottom: 50px;
	left: 70px;
	font-size: 14px;
	color: #fff;
}
.b2-1 .l4 {
	position: absolute;
	bottom: 30px;
	left: 70px;
	font-size: 14px;
	color: #878787;
}
.b2-2 {
	background: #ededed;
	height: 730px;
	background-image: url(../images/b2-2.jpg);
	background-repeat: no-repeat;
	background-position: 100% 160px;
	margin-top: 10px;
	box-shadow: 0 0 5px #ededed;
	border-radius: 2px;
	position: relative;
}
.b2-2 .l1 {
	position: absolute;
	top: 60px;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #6b6b6b;
	text-transform: uppercase;
	font-size: 26px;
}
.b2-2 .l1 span {
	font-family: 'Garamond Regular';
	padding-bottom: 20px;
	border-bottom: 1px solid #8f8f8f;
}
.b2-2 .l2 {
	position: absolute;
	top: 130px;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #939393;
	font-family: 'Garamond Regular';
}
.b2-2 .l3 {
	position: absolute;
	bottom: 30px;
	left: 30px;
	right: 30px;
	font-size: 14px;
	color: #878787;
	text-align: justify;
	font-family: 'Garamond Regular';
}
.b2-3 {
	background: #0a94a0;
	height: 240px;
	background-repeat: no-repeat;
	background-position: 100% 160px;
	margin-top: 10px;
	margin-right: 10px;
	box-shadow: 0 0 5px #0a94a0;
	border-radius: 2px;
	position: relative;
	color: #fefafa;
}
.b2-3 .l1 {
	position: absolute;
	top: 40px;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-size: 26px;
}
.b2-3 .l1 span {
	font-family: 'Garamond Regular';
	padding-bottom: 20px;
	border-bottom: 1px solid #fefafa;
}
.b2-3 .l2 {
	position: absolute;
	top: 110px;
	right: 60px;
	left: 60px;
	text-align: center;
	font-size: 14px;
	font-family: 'Garamond Regular';
}
.b3 {
	background: #fff url(../images/b3.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: 0 0 5px #e3e3e3;
	height: 485px;
	margin-top: 10px;
	position: relative;
	font-family: 'Garamond Regular';
	border-radius: 2px;
}
.b3 .l1 {
	font-size: 40px;
	color: #222222;
	position: absolute;
	top: 100px;
	left: 45px;
	text-transform: uppercase;
}
.b3 .l2 {
	font-size: 14px;
	color: #807c7c;
	position: absolute;
	top: 185px;
	left: 100px;
	text-transform: uppercase;
}
.b3 .l2 span {
	border-top: 1px solid #222222;
	padding: 20px;
}
.b3 .l3 {
	font-size: 16px;
	color: #020202;
	position: absolute;
	bottom: 35px;
    right: 25px;
	text-align: right
}
.b4 {
	
}
.b4-1 {
	height: 480px;
	background: #000;
	background-image: url(../images/b4-1.jpg);
	background-repeat: no-repeat;
	background-position: 30px 100%;
	margin-top: 10px;
	margin-right: 10px;
	box-shadow: 0 0 5px #000;
	border-radius: 2px;
	position: relative;
}
.b4-1 .l1 {
	position: absolute;
	top: 30px;
	right: 30px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 26px;
	text-align: right;
	font-family: 'Garamond Regular';
}
.b4-1 .l2 {
	position: absolute;
	bottom: 75px;
	right: 30px;
	font-size: 16px;
	color: #878787;
	text-align: right;
	font-family: 'Garamond Regular';
}
.b4-1 .l3 {
	position: absolute;
	bottom: 45px;
	right: 30px;
	font-size: 14px;
	color: #878787;
	text-align: right;
	text-transform: uppercase;
	font-family: 'Garamond Regular';
}
.b4-1 .l3 a {
	color: #878787;
}
.b4-2 {
	background: #0a94a0;
	height: 480px;
	background-image: url(../images/b4-2.jpg);
	background-repeat: no-repeat;
	background-position: 50% 125px;
	margin-top: 10px;
	box-shadow: 0 0 5px #0a94a0;
	border-radius: 2px;
	position: relative;
}
.b4-2 .l1 {
	position: absolute;
	top: 40px;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #fefafa;
	text-transform: uppercase;
	font-size: 26px;
}
.b4-2 .l1 span {
	font-family: 'Garamond Regular';
	padding-bottom: 20px;
	border-bottom: 1px solid #fefafa;
}
.b4-2 .l2 {
	position: absolute;
	top: 110px;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #fefafa;
	font-family: 'Garamond Regular';
}
.b4-2 .l3 {
	position: absolute;
	bottom: 30px;
	left: 35px;
	right: 35px;
	font-size: 16px;
	color: #fefafa;
	text-align: center;
	font-family: 'Garamond Regular';
}


.footer_menu {
	margin-top: 10px;
	border-bottom: 1px solid #8f8f8f;
	font-family: Arial;	
}
.footer_menu::before {
	content: '';
	background: #0a94a0;
	display: block;
	height: 16px;
	box-shadow: 0 0 5px #0a94a0;
	border-radius: 2px;
}
.footer_menu .first_lvl {
	width: 20%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 3px;
	margin-bottom: 10px;
}
.footer_menu .first_lvl  li {
	padding: 3px 15px;
	padding-right: 0;
	font-size: 10px;
}
.footer_menu .first_lvl  li.title {
	line-height: 24px;
	height: 30px;
	font-size: 11px;
	border-bottom: 1px solid #8f8f8f;
	margin-bottom: 10px;
}
.footer_menu .first_lvl a {
	color: #000;
	text-transform: uppercase;
}
.footer {
	height: 60px;
	margin-top: 20px;
	font-size: 15px;
	font-family: Arial;	
}
.footer .left {
	float: left;
	width: 365px;
	padding-left: 15px;
}
.footer .right {
	float: right;
	padding-right: 15px;
}
.footer .inline {
	display: inline-block;
	height: 17px;
	line-height: 17px;
}
.footer a {
	color: #000;
}
.ico {
	display: inline-block;
	height: 17px;
	width: 22px;
	margin-left: 10px;
	background: url(../images/footer-sprite-ico.png) no-repeat 0 0;
}
.ico.ico-skype {
	background-position:-67px 0;
}
.ico.ico-icq {
	background-position:-45px 0;
}
.ico.ico-email {
	background-position:-25px 0;
}
.ico.ico-phone {
	background-position:0 0;
}
.footer  .small-left, .footer  .small-right {
	display: inline-block;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.no-padding-right {
	padding-right: 0;
}
.float-right {
	float: right;
}
.content_page_inner {
	width: 960px; margin: 0 auto;
}
.blue {
	color: #08959f;
}
.gray {
	color: #787878;
}
.btn {
    display: inline-block;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    height: 34px;
    line-height: 34px;
    background: #0a949f;
    border-radius: 1px;
	text-shadow: none;
	border: 0;
    white-space: nowrap;
    padding: 0 25px;
    font-size: 12px;
	margin: 0;
}
.btn:hover, .btn:active {
    display: inline-block;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    height: 34px;
    line-height: 34px;
    background: #0a949f;
    border-radius: 1px;
	text-shadow: none;
	border: 0;
    white-space: nowrap;
    padding: 0 25px;
    font-size: 12px;
	margin: 0;
	text-decoration: underline;
}
@media (max-width: 1299px) {
	.header .phone {
		margin-top: 8px;
	}
	.b1 .l3 {
		font-size: 40px;
		color: #000;
		position: absolute;
		top: 280px;
		left: 490px;
	}
	.b1 .l2 {
		font-size: 110px;
	}
	.b2-1 {
	    background-size: 70%;
	}
	.b2-2 {
	    background-size: 100%;
	}
	.b2-1 .l4 {
		right: 30px;
		left: 30px;
		font-size: 11px;
	}
	.b2-1 .l3 {
		left: 30px;
	}
	.b2-1 .l2 {
		top: 90px;
	}
	.b2-3 .l2 {
		font-size: 13px;
	}
	.b4-1 .l2 {
		font-size: 13px;
		bottom: 60px;
	}
	.b4-1 .l3 {
		bottom: 30px;
	}
	.footer {
		height: auto;
		margin-bottom: 20px;
	}
	.footer .left, .footer .right {
		width: 100%;
		float: none;
		padding: 0 15px;
	}
	.footer .ico {
		margin-left: 0;
	}
	.footer  .small-left {
		float: left;
		width: 50%;
	}
	.footer  .small-right {
		float: right;
		width: 155px;
		margin-top: -21px;
	}
}
@media (max-width: 991px) {
	.content_page_inner {
		width: 100%; 
		margin: 0;
	}
	.list-inline>li {
		padding: 0 2px;
	}
	.b1 .l1 {
		left: 50px;
		top: 50px;
	}
	.b1 .l2 {
		font-size: 80px;
		left: 50px;
		top: 80px;
	}
	.b1 .l3 {
		right: 30px;
		top: 170px;
		width: auto;
		left: auto;
	}
	.b1 .l4 {
		bottom: 50px;
		font-size: 18px;
	}
	.header .enter_personal a {
		font-size: 10px;
	}
	.header .phone {
		font-size: 24px;
	}
	.header .work_time {
		font-size: 7px;
	}
	.b2-1 {
		background-size: 90%;
	}
	.b2-1 .l3 {
		font-size: 12px;
	}
	.b2-1 .l4 {
		font-size: 12px;
		bottom: 12px;
	}
	.b2-2 {
		background-position: 50% 50%;
	}
	.b2-2 .l1 {
		font-size: 20px;
		top: 40px;
	}
	.b2-2 .l2 {
		top: 110px;
	}
	.b2-2 .l3 {
		text-align: left;
	}
	.b2-3 .l1 {
		top: 20px;
	}
	.b2-3 .l2 {
		right: 30px;
		left: 30px;
		top: 90px;
	}
	.b3 .l1 {
		font-size: 24px;
	}
	.b3 .l2 {
		top: 165px;
		left: 60px;
	}
	.b4-1 {
		background-size: 60%;
		background-position: 30px 50%;
	}
	.b4-2 {
		background-size: 100%;
	}
	.b4-2 .l1 {
		font-size: 20px;
	}
	.b4-2 .l2 {
		top: 100px;
	}
}
@media (max-width: 767px) {
	.header_line {
		height: 35px;
		line-height: 35px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}
	.header {
		padding-top: 35px;
	}
	.b2-1, .b2-2, .b2-3, .b4-1, .b4-2 {
		margin-right: 0;
	} 
	.footer_menu {
		text-align: center;
	}
	.footer_menu .first_lvl {
		float: none;
		width: 100%;
	}

	.footer {
		text-align: center;
	}
	.footer .left, .footer .right, .footer  .small-left, .footer  .small-right {
		float: none;
		width: 100%;
		margin: 0;
	}
	.header .phone {
		font-size: 20px;
		margin-top: 18px;
	}
	.header a.logo {
		font-size: 40px;
	}
	.b1 {
		background-size: 150px;
		background-position: 10px 60%;
		height: 245px;
	}
	.b1 .l1 {
		top: 25px;
		left: 10px;
		font-size: 22px;
	}
	.b1 .l2 {
		top: 50px;
		left: 10px;
		font-size: 40px;
	}
	.b1 .l3 {
		top: 100px;
		right: 10px;
		font-size: 17px;
		right: 0;
		left: 140px;
	}
	.b1 .l4 {
		bottom: 20px;
		font-size: 14px;
	}
	.b2-1 {
		background-size: 190px;
		height: 290px;
	}
	.b2-1 .l3, .b2-1 .l4 {
		display: none;
	}
	.b2-3 .l1 {
		font-size: 20px;
	}
	.b2-3 .l1 span {
		padding-bottom: 10px;
	}
	.b2-3 .l2 {
		font-size: 13px;
		top: 70px;
		right: 10px;
		left: 10px;
	}
	.b2-2 {
		height: 480px;
		background-size: 190px;
	}
	.b2-2 .l2 {
		top: 90px;
	}
	.b2-2 .l1 {
		font-size: 20px;
	}
	.b2-2 .l1 span {
		padding-bottom: 10px;
	}
	.b3 {
		height: 290px;
	}
	.b3 .l1 {
		font-size: 20px;
		top: 20px;
		left: 20px;
	}
	.b3 .l2 {
		top: 95px;
		left: 20px;
	}
	.b3 .l2 span {
		padding: 0;
		padding-top: 10px;
	}
	.b3 .l3 {
		font-size: 14px;
		bottom: 20px;
		text-align: left;
		left: 20px;
	}
	.b4-1 {
		height: 330px;
	}
	.b4-1 .l1 {
		right: 20px;
		top: 20px;
		font-size: 20px;
	}
	.b4-1 .l2 {
		bottom: 20px;
		left: 20px;
		right: 20px;
	}
	.b4-2 {
		height: 330px;
		background-size: 200px;
		background-position: 50% 90px;
	}
	.b4-2 .l1 {
		top: 20px;
		font-size: 20px;
	}
	.b4-2 .l1 span {
		padding-bottom: 10px;
	}
	.b4-2 .l2 {
	    top: 70px;
	}
	.b4-2 .l3 {
		left: 20px;
		right: 20px;
		font-size: 14px;
	}
	.top_menu .select_item a {
		position: relative;
		text-decoration: none;
		display: inline-block;
	}
	.top_menu .select_item a::after {
		content: '';
		display: block;
		width: 13px;
		height: 25px;
		background: url(../images/arrow.png) no-repeat;
		background-size: 100%;
		background-position: 100% 50%;
		position: absolute;
		top: 0;
		right: -20px;
		transition: all .3s ease;
	} 
	.top_menu .select_item.revers_ico a::after {
		transform: rotate(180deg);
		transition: all .3s ease;
	}
	.top_menu .top_line_menu {
		display: none;
	}
	.top_menu .top_line_menu.active {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 1000;
		border-bottom: 1px solid #8f8f8f;
	}
	.top_menu .top_line_menu li {
		display: block;
	}
	.top_menu .top_line_menu li.active {
		display: none;
	}
	.header .enter_personal a {
		font-size: 12px;
	}
	.top_menu a {
		font-size: 15px;
	}
	.popap_top_line_menu {
		display: none!important;
	}
	.no-padding-xs {
		padding: 0;
	}
	.header_line_menu_mobile {
		background: url(../images/mobile-menu-ico.png) no-repeat 50% 50%;
		height: 35px;
		border-left: 1px solid #288d97;
	}
	.header_line_menu {
		position: relative;
		margin-top: 35px;
	}
	.header_line_menu>li {
		width: 100%;
		display: block;
		text-align: left;
		border-top: 1px solid #288d97;
	}
	.line_menu.active {
		display: block!important;
		position: absolute;
		margin-top: 35px;
		left: 0;
		right: 0;
		background: #0a94a0;
		z-index: 1000;
	}

}



/* Каталог */
.catalognavline {
	position: relative;
	padding: 10px 15px;
	border-bottom: 1px solid #8f8f8f;
}
.catalognavline::after {
	content: '';
	display: block;
	clear: both;
}
.catalognavline a {
	color: #0a94a0;
}
.catalognavline .title {
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	height: 20px;	
	line-height: 20px;
	margin-right: 30px;
}
.catalognavline .filter_box {
	float: right;
	font-size: 14px;
	height: 20px;	
	line-height: 20px;
	margin: 0 10px;
}
.catalognavline .filter_box .flt_set {
	display: none;
}
.catalognavline .filter_box .flt_set a {
	color: #646464;
	font-size: 11px;
	margin: 0 2px;
}
.catalognavline .filter_box .flt_set a::after {
	content: '×';
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #b4b4b4;
	width: 14px;
	height: 14px;
	line-height: 12px;
	text-align: center;
	margin-left: 2px;
}
.catalognavline .filter_box > a.t {
	float: left;
}
.catalognavline .filter_box .glyphicon-filter {
	border-left: 1px solid #0a94a0;
	padding-left: 5px;
	font-size: 18px;
	line-height: 20px;
}
.catalognavline .filter_popup {
	position: absolute;
	left: 0;
	right: 0;
	padding: 15px;
	background: #f5f5f5;
	top: 41px;
	z-index: 99;
	display: none;
}
.catalognavline .filter_popup.show {
	display: block;
}
.catalognavline .filter_popup .item_set ul, .catalognavline .filter_popup .item_set .price_select {
	list-style-type: none;
	margin: 10px 0;
	padding: 0;
}
.catalognavline .filter_popup .item_set ul::after {
	content: '';
	clear: both;
	display: block;
}
.catalognavline .filter_popup .item_set ul li {
	
}
.catalognavline .filter_popup .item_set ul li label {
	margin: 0;
}
.catalognavline .filter_popup .item_set ul li span {
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	height: 17px;
	line-height: 17px;
	padding-left: 14px;
	position: relative;
	display: inline-block;
}
.catalognavline .filter_popup .item_set ul li input {
	display: none;
}
.catalognavline .filter_popup .item_set ul li span::before {
	font-family: 'Glyphicons Halflings';
	content: "\e157";
	height: 17px;
	line-height: 17px;
	display: block;
	position: absolute;
	left:0;
	top: 0;
}
.catalognavline .filter_popup .item_set ul li input:checked + span::before {
	content: "\e067";
}
.catalognavline .filter_popup .item_set.flt_inputs ul li {
	width: 50%;
	float: left;
}
.catalognavline .filter_popup .item_set .price_select input {
	width: 35%;
}
.catalognavline .filter_popup .item_set .name {
    text-transform: uppercase;
    font-size: 13px;
	color: #0a949f;
}
.catalognavline .filter_popup .item_set .name span {
	font-size: 11px;
	text-transform: lowercase;
	color: #646464;
	height: 12px;
}
.catalognavline .filter_popup .item_set .name span.clear-almaz-ico {
	background: url(../images/clear-almaz-ico.png) no-repeat 0 50%;
	padding-left: 17px;
	margin-right: 3px;
}
.catalognavline .filter_popup .item_set .name span.almaz-ico {
	background: url(../images/almaz-ico.png) no-repeat 0 50%;
	padding-left: 33px;
}
.catalognavline .filter_popup .btn_flt {
	text-align: center;
}
.catalognavline .filter_popup .btn_flt .btn {
	margin: 5px;
}
@media (min-width: 1300px) {
	.catalognavline .filter_box .flt_set {
		display: inline-block;
	}	
	.catalognavline .filter_box {
		float: left;
	}
}
.catalognavline .paginationline {
	float: right;
	font-size: 14px;
	height: 20px;	
	line-height: 20px;
	margin: 0 10 px;
}
.catalognavline .paginationline a {
	color: #787878;
	text-decoration: underline;
}
.catalognavline .paginationline a:hover, .catalognavline .paginationline a.act {
	color: #0a949f;
	text-decoration: none;
}
.catalognavline .sorter {
	float: right;
	font-size: 14px;
	height: 20px;	
	line-height: 20px;
	margin: 0 10 px;
	margin-right: 20px;
}
.item_catalog {
	border: 1px solid #fff;
	height: 230px;
	font-size: 11px;
	text-align: center;
	border-bottom: 1px solid #8f8f8f;
	display: block;
	text-decoration: none;
	color: #787878;
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
}
.item_catalog .title {
	height: 30px;
	overflow: hidden;
}
.item_catalog:hover, .item_catalog:focus {
	outline: 0;
	text-decoration: none;
	color: #787878;	
}
.item_catalog .price {
	line-height: 30px;
	height: 30px;
}
.item_catalog .price span {
	font-size: 18px;
	color: #0a949f;
}
.item_catalog .price span.red {
	color: #ff0303;
}
.item_catalog .sales {
	font-size: 11px;
	color: #ff0303;
}
.item_catalog span.old-price {
	font-size: 14px;
	color: #787878;	
	text-decoration:line-through;
}
.item_catalog .image {
	height: 110px;
	width: 110px;
	margin: 15px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.item_catalog + .moreinfo {
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	height: 230px;
	padding: 15px 30px;
	background: #fff;
	z-index: 10;
	font-size: 11px;
	color: #908f8f;
	line-height: 16px;
}
.item_catalog + .moreinfo .art {
	border-bottom: 1px solid #8f8f8f;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.item_catalog.r {
	border-color: #8f8f8f;
	border-right: 1px solid #fff;
}
.item_catalog.r + .moreinfo {
	display: block;
	text-align: right;
	left: 100%;
	border: 1px solid #8f8f8f;
	border-left: none;
    margin-left: -15px;
	padding-left: 0;
}
.item_catalog.l {
	border-color: #8f8f8f;
	border-left: 1px solid #fff;
}
.item_catalog.l + .moreinfo {
	display: block;
	text-align: left;
	right: 100%;
	border: 1px solid #8f8f8f;
	border-right: none;
    margin-right: -15px;
	padding-right: 0;
}
.item_catalog + .moreinfo .fovorite {
	background: #fff;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	color: #908f8f;
	margin: 15px 0 10px;	
	position:relative;
	padding-left: 20px;
}
.item_catalog + .moreinfo .buy_btn {
	background: #c7c9c8;
	height: 20px;
	line-height: 20px;
	padding: 0 30px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
}
.item_catalog + .moreinfo a:hover,  .item_catalog + .moreinfo a.act {
	color: #fe0404;
}
.item_catalog_big {
	height: 475px;
	font-size: 12px;
	display: block;
	text-decoration: none;
	color: #939393;
	position: relative;
	margin-bottom: 15px;
}
.item_catalog_big img {
	max-width: 500px;
}
.item_catalog_big:hover, .item_catalog_big:focus {
	text-decoration: none;
	color: #939393;	
	outline: 0;
}
.item_catalog_big .title {
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Garamond Regular';
	margin-bottom: 15px;
}
.right_item {
	float: right;
}
.catalog_line {
	background: url(../images/catalog_line.png) no-repeat 50% 50%;
	background-size: cover;
	color: #909090;
}
.catalog_line>div {
	padding: 30px;
}
.catalog_line::before {
    content: '';
    background: #0a94a0;
    display: block;
    height: 16px;
    box-shadow: 0 0 5px #0a94a0;
    border-radius: 2px;
}
.glyphicon_catalog {
    display: inline-block;
	position: absolute;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	left: 0px;
	font-size: 16px;
}
.fovorite_delete {
	width: 90px;
	font-size: 10px;
	line-height: 10px!important;
}
.glyphicon_catalog_delete::after {
	content: '×';
	position: absolute;
	color: red;
	bottom: -3px;
	right: -3px;
} 


/* избранное */
.item_catalog_fav {
	border-color: #8f8f8f!important;
	border-right: 1px solid #fff!important;
	width: 50%!important;
	margin-bottom: 30px!important;
}
.item_catalog_fav + .moreinfo {
	display: block!important;
	text-align: right!important;
	right: 15px!important;
	left: auto!important;
	border: 1px solid #8f8f8f!important;
	border-left: none!important;
    margin-left: 0!important;
	padding: 15px 30px!important;
	padding-left: 0!important;
	margin-right: -0!important;
	width: 50%!important;
}
.b_fav {
	
}
.b_fav-1 {
	height: 480px;
	background: #f4f4f4;
	background-image: url(../images/bfav.jpg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	margin-top: 10px;
	box-shadow: 0 0 5px #f4f4f4;
	border-radius: 2px;
	position: relative;
}
.b_fav-1 .l1 {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #656767;
	font-size: 18px;
	text-align: left;
	font-family: 'Garamond Regular';
}
.b_fav-1 .l2 {
	position: absolute;
	top: 110px;
	left: 30px;
	font-size: 18px;
	color: #656767;
	text-align: left;
	font-family: 'Garamond Regular';
}
.b_fav-2 {
	background: #0a94a0;
	height: 480px;
	margin-top: 10px;
	box-shadow: 0 0 5px #0a94a0;
	border-radius: 2px;
	position: relative;
	margin-right: 10px;
}
.b_fav-2 .l1 {
	position: absolute;
	top: 90px;
	right: 30px;
	left: 30px;
	text-align: center;
	font-size: 14px;
	color: #fefafa;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Garamond Regular';
}
.b_fav-2 .l2 {
	position: absolute;
	top: 155px;
	right: 30px;
	left: 30px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #fefafa;
	font-family: 'Garamond Regular';
}
@media (max-width: 1299px) {
	.b_fav-1 {
		background-size: 70%;
	}
}
@media (max-width: 991px) {
	.b_fav-1 {
		background-size: 50%;
	}
}
@media (max-width: 767px) {
	.item_catalog_fav {
		margin-bottom: 15px!important;
	}
	.item_catalog_fav + .moreinfo {
		padding: 15px!important;
		padding-left: 0!important;
	}
}

/* Карточка */
.catalog_element {
	border-bottom: 1px solid #8f8f8f;
	padding-bottom: 15px;
}
.catalog_element::after {
	content: '';
	display: block;
	clear: both;
}
.catalog_element .art, .catalog_element .prop, .catalog_element .offers {
	text-transform: uppercase;
	line-height: 18px;
}
.catalog_element .title {
	margin:	15px 0;
	text-transform: uppercase;
}
.catalog_element .price span {
	font-size: 28px;
	color: #0a949f;
}
.catalog_element .offers {
	margin: 15px 0;
}
.catalog_element .offers a {
	color: #787878;
}
.catalog_element .offers a.act, .catalog_element .offers a:hover {
	color: #fe0404;
}
.catalog_element .offers a.more {
	text-transform: none;
}
.catalog_element .btn_box {
	margin-bottom: 10px;
}
.catalog_element .btn_box a {
	display: inline-block;
	width: 170px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	height: 34px;
	line-height: 34px;
	background: #0a949f;
	border-radius: 1px;
	margin: 0 15px;
}
.catalog_element .dopinfo {
	text-transform: uppercase;	
}
.catalog_element .dopinfo .t {
	color: #0a949f;
}
.catalog_element .dopinfo ul {
	list-style: none;
	line-height: 22px;
	margin: 0;
	padding: 0;
}
.catalog_element .dopinfo ul li {
	width: 49%;
	margin-right: 1%;
	display: block;
	float: left;
	font-size: 10px;
}
.catalog_element .trumb_images {
	height: 430px;
	overflow: hidden;
}
.catalog_element .trumb_images .t {
	text-transform: uppercase;	
	padding-bottom: 5px;
}
.catalog_element .trumb_images a {
	display: block;
	width: 100px;
	height: 100px;
	background-size: contain;
	background-position: 50% 50%;
	margin: 7px 0;
}
.catalog_element .big_images {
	height: 430px;
	padding: 0 30px;
}
.catalog_element .big_images .img {
	width: 100%;
	height: 430px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.catalog_element .big_images .owl-controls .owl-prev {
	position: absolute;
	top: 50%;
	left:0;
	display: block!important;
	color: #fff;
	font-size: 1px;
	margin-top: -12px;
}
.catalog_element .big_images .owl-controls .owl-next {
	position: absolute;
	top: 50%;
	right:0;
	display: block!important;
	color: #fff;
	font-size: 1px;
	margin-top: -12px;
}
.catalog_element .dop_btn_img {
	text-align: center;
}
.catalog_element .dop_btn_img a.btn_fav {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #b1afb0;
	background: url(../images/sprite-element.png) no-repeat 0 1px;
	padding-left: 35px;
	text-decoration: none;
	margin: 10px 2px;
}
.catalog_element .dop_btn_img a.btn_print {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #b1afb0;
	background: url(../images/sprite-element.png) no-repeat 0 -29px;
	padding-left: 35px;
	text-decoration: none;
	margin: 10px 2px;
}
.catalog_element .dop_btn_img a.btn_info {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #b1afb0;
	background: url(../images/sprite-element.png) no-repeat 0 -60px;
	padding-left: 35px;
	text-decoration: none;
	margin: 10px 2px;
	font-size: 11px;
}
@media (max-width: 767px) {
	.catalog_element .btn_box a {
		display: block;
		margin: 5px 15px;
	}
	.catalog_element .big_images, .catalog_element .big_images .img {
		height: 300px;
	}
}
/* слайдер */
.element_slider>.title {
	color: #0a949f;
	font-size: 14px;
	padding: 15px;
	padding-bottom: 0;
	text-transform: uppercase;
	font-family: 'Garamond Regular';
}
.element_slider .slider .owl-controls .owl-prev {
	position: absolute;
	top: 50%;
	left:0;
	display: block!important;
	color: #fff;
	font-size: 1px;
	margin-top: -12px;
}
.element_slider .slider .owl-controls .owl-next {
	position: absolute;
	top: 50%;
	right:0;
	display: block!important;
	color: #fff;
	font-size: 1px;
	margin-top: -12px;
}
.element_slider .slider .item_catalog {
	border-color: #fff;
}
/* корзина */
.basket {
	border-top: 1px solid #8f8f8f;
	padding-top: 15px;
	color: #908f8f;
}
.basket .title {
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 0 5px;
}
.basket .art {
	text-transform: uppercase;
}
.basket .item {
	border-bottom: 1px solid #8f8f8f;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.basket .table {
	padding-top: 5px;
	margin: 0;
}
.basket .table::after {
	content: '';
	display: block;
	clear: both;
}
.basket .th {
	padding: 3px 0;
	text-transform: uppercase;	
	text-align: center;
}
.basket .th::after {
	clear: both;
	content: '';
	display: block;
	text-align: center;
}
.basket .c1 {
	float: left;
	width: 120px;
}
.basket .c2 {
	float: left;
	width: 120px;
	width: calc((100% - 310px ) / 2);
}
.basket .c3 {
	float: left;
	width: 130px;
}
.basket .c4 {
	float: left;
	width: 120px;
	width: calc((100% - 310px ) / 2);
}
.basket .c5 {
	float: left;
	width: 60px;
}
.basket .item .img {
	width: 120px;
	height: 120px;
	background-position: 50% 50%;
	background-size: contain;
	float: left;
	display: block;
}
.basket .price, .basket .item_summ {
	width: 100px;
	width: calc((100% - 310px ) / 2);
	float: left;
	line-height: 120px;
	height: 120px;
	font-size: 18px;
	color: #0a94a1;
	text-align: center;
}
.basket .offers_table {
	width: 130px;
	float: left;
	line-height: 120px;
	height: 120px;
}
.basket .offers_table table {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	border-color: #e5e5e5;
}
.basket .offers_table table td {
	padding: 3px;
	text-align: center;
}
.basket .offers_table table input {
	width: 30px;
}
.basket .offers_table .item::after {
	content: '';
	display: block;
	clear: both;
}
.basket .delete {
	width: 60px;
	float: right;
	line-height: 120px;
	height: 120px;
	text-align: center;
	cursor: pointer;
}
.basket .delete::before {
	content: "\e083";
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}
.basket .itogo_summ {
	background: #f1f1f1;
	color: #787878;
	text-align: right;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;	
	margin-top: -15px;
}
.basket .itogo_summ span {
	font-size: 18px;
	color: #0a949f;
}
.more_info {
	margin-top: 15px;
	border-top: 1px solid #8f8f8f;
	border-bottom: 1px solid #8f8f8f;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #908f8f;	
}

/* гид покупателя */
div.guide-heading {
    line-height: 24px;
    height: 30px;
    font-size: 11px;
    border-bottom: 1px solid #08959f;
    margin-bottom: 10px;
    padding: 3px 15px;
    font-size: 11px;
	text-transform: uppercase;
	color: #08959f;
}
ul.guide-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 3px;
    margin-bottom: 10px;
	height: 160px;
}
ul.guide-list li {
    padding: 3px 15px;
    padding-right: 0;
    font-size: 11px;
	text-transform: uppercase;	
}
ul.guide-list li a {
	color: #787878;
}
.b_fav-1-gid {
	height: 480px;
	background: #f4f4f4;
	background-image: url(../images/bfavgid.jpg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	margin-top: 10px;
	box-shadow: 0 0 5px #f4f4f4;
	border-radius: 2px;
	position: relative;
	background-size: contain;
}
.b_fav-1-gid .l1 {
	text-align: center;
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	color: #656767;
	font-size: 18px;
	font-family: 'Garamond Regular';
}
/* модальные окна */
.modal-content {
	border-radius: 0;
}
.modal-header {
	padding: 15px 35px;
	border-bottom: 0;
}
.modal-body {
	padding: 35px;
	padding-top: 0;
}
.modal-body::before {
	border-top: 1px solid #0a949f;
	content: '';
	display: block;
	padding-bottom: 20px;
}
.modal-title {
	font-family: 'Garamond Regular';
	font-size: 18px;
	text-transform: uppercase;
	color: #0a949f;
	text-align: center;
}
.modal-header .close {
	border: 1px solid #666666;
	color: #666666;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	outline: none;
	font-size: 26px;
	line-height: 24px;
	text-align: center;
	font-weight: 300;
	display: none;
}